

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* SAJAT CSS */
body {
  background: rgb(0,255,132);
  background: -moz-linear-gradient(90deg, rgba(0,255,132,1) 0%, rgba(0,164,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,255,132,1) 0%, rgba(0,164,255,1) 100%);
  background: linear-gradient(90deg, rgba(0,255,132,1) 0%, rgba(0,164,255,1) 100%);
}

.main_container {
  width: 100%;
  max-width: 1182px !important; /* Teljes szélesség */
  padding: 0 24px; 
  margin: 0px auto 150px;
  box-sizing: border-box;
}

.form_style {
  width: 100%;
  max-width: 320px;
  margin: 0px auto;

}
.main_form {
  padding: 48px;
  background-color: #fff;
  max-width: 320px;
  margin: 0px auto;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
.form_style input {
  width: 100%;
  padding: 8px;
  border: unset;
  border-radius: 8px;
  margin: 8px auto;
  border-bottom: 2px solid #00d1c3;
}

.form_style input:focus {
  /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2); */
  outline: none;
  border-bottom: 2px solid #00c1d9;
}

button {
  background-color: #00a4ff;
  color: #fff;
  margin: 32px auto 0px;
}

.home_flex_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.home_flex_container div {
  width: 50%;
  height: 100%;
  overflow: hidden;

}
.home_flex_container div:last-of-type {
  padding: 32px;
}
.home_flex_container div img {
  max-width: 800px;
}
.event-card {
  background-color: #fff;
  border-radius: 12px;
  margin: 24px 8px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  max-width: 320px;
  min-width: 320px;
  padding: 24px;
  position: relative;
}
.event-card.cancelled {
  filter: grayscale(100%);
  position: relative;
  pointer-events: none !important;
  background-color: #b0b0b0;
}

.event-card.cancelled::after {
  content: "ELMARAD";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.slick-dots {
 bottom: -80px;
}
.event-card button {
  margin: 8px auto;
}

/* RESZTVEVOK LISTAZASA */
.resztvevok-list {
  list-style-type: decimal;
  padding: 0px;
  width: max-content;
  margin: 0px auto;
}



/* STATISZTIKA OLDAL */

.statistics_table {
  width: 100%;
  padding: 0px 0px 24px;
  border-radius: 16px;
  border: none;
  background-color: #ffffff91;
  overflow: hidden;
  border-collapse: collapse;
}
.statistics_table td {
  padding: 12px;
}
.statistics_table tr, .statistics_table td, .statistics_table th {
  border: none;
}
.statistics_table th {
  background-color: #fff;
  padding: 12px;
}
.statistics_table tr:nth-child(odd) {
  background-color: #f2f2f27b;
}
.statistics_table tr:nth-child(even) {
  background-color: #ffffffb9;
}

input[type="date"] {
  width: 100%;
  background-color: unset;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (max-width: 768px){

 .home_flex_container {
  flex-direction: column-reverse;
 }
 .home_flex_container div {
  width: 100%;
 }
}


@media (max-width: 640px){

  .main_container {
    padding: 12px;
  }
  .event-card {
    min-width: 240px;
    max-width: 240px;
  }

  #event_page {
    padding: 0;
  }
}
